<div class="container">
	<div class="card">
		<div class="card-header">Create new Event</div>
		<div class="card-body">
			<form action="/event/admin/create" method="post">
				<div class="form-group">
					<label for="name">Name</label>
					<input required value="{{name}}" name="name" class="form-control" id="name" type="text" aria-describedby="nameHelp" placeholder="Enter Event Name">
				</div>
				<div class="form-group">
					<label for="venue">Venue</label>
					<input required value="{{venue}}" name="venue" class="form-control" id="venue" type="text" aria-describedby="venue" placeholder="Enter Venue">
				</div>
				<div class="form-group">
					<label for="time">Start Time</label>
					<input required value="{{startTime}}" name="time" class="form-control" id="time" type="time" aria-describedby="time">
				</div>
				<div class="form-group">
					<label for="date">Date</label>
					<input required value="{{date}}" name="date" class="form-control" id="date" type="date" aria-describedby="time">
				</div>
				<div class="form-group">
					<label for="desc">Description</label>
					<input required value="{{desc}}" name="desc" class="form-control" id="desc" type="text" aria-describedby="desc" placeholder="Some description about the event">
				</div>
				<button type="submit" class="btn btn-primary btn-block">Create</button>
			</form>
		</div>
	</div>
</div>
