<h1>Assignments</h1>


<table class="table table-bordered">
	<thead>
	<tr>
		<th>Assignment Name</th>
		<th>Subject</th>
		<th>Faculty Name</th>
		<th>Submition Date</th>
	</tr>
	</thead>

	<tbody>
	{{#each assignments}}
		<tr>
			<th>{{name}}</th>
			<th>{{subject.name}}</th>
			<th>{{faculty.user.firstName}} {{faculty.user.lastName}}</th>
			<th class="alert-danger">{{formatDate submissionDate}}</th>
		</tr>
	{{/each}}
	</tbody>


</table>

