
<h1 class="">Update Details</h1>
<div class="card-body">
	<form action="/faculty/update" method="post">
		<div class="form-group">
			<div class="form-row">
				<div class="col-md-6">
					<label for="exampleInputName">First name</label>
					<input required value="{{firstName}}"  name="firstName" class="form-control" id="exampleInputName" type="text" aria-describedby="nameHelp" placeholder="Enter first name">
				</div>
				<div class="col-md-6">
					<label for="exampleInputLastName">Last name</label>
					<input required value="{{lastName}}"  name="lastName" class="form-control" id="exampleInputLastName" type="text" aria-describedby="nameHelp" placeholder="Enter last name">
				</div>
			</div>
		</div>
		<div class="form-group">
			<label for="exampleInputUsername">Username</label>
			<input required value="{{username}}" name="username" class="form-control" id="exampleInputUsername" type="text" aria-describedby="usernameHelp" placeholder="Enter username">
		</div>
		<div class="form-group">
			<label for="exampleInputEmail1">Email address</label>
			<input required value="{{email}}" name="email" class="form-control" id="exampleInputEmail1" type="email" aria-describedby="emailHelp" placeholder="Enter email">
		</div>
		<div class="form-group">
			<label for="regID">Faculty ID</label>
			<input required value="{{facultyID}}"  name="facultyID" class="form-control" id="facultyID" type="text" aria-describedby="Reg ID" placeholder="Enter Faculty ID">
		</div>

		<button class="btn btn-danger btn-block" type="submit">Update</button>
	</form>
</div>
