<div class="container">
	<div class="card card-register mx-auto mt-5">
		<div class="card-header">Register an Account</div>
		<div class="card-body">
			<form action="/event/register" method="post">
				<div class="form-group">
					<label for="name">Name</label>
					<input required value="{{name}}" name="name" class="form-control" id="name" type="text" aria-describedby="nameHelp" placeholder="Enter Full Name">
				</div>
				<div class="form-group">
					<label for="exampleInputUsername">Username</label>
					<input required value="{{username}}" name="username" class="form-control" id="exampleInputUsername" type="text" aria-describedby="usernameHelp" placeholder="Enter username">
				</div>
				<div class="form-group">
					<label for="exampleInputEmail1">Email address</label>
					<input required value="{{email}}" name="email" class="form-control" id="exampleInputEmail1" type="email" aria-describedby="emailHelp" placeholder="Enter email">
				</div>
				<div class="form-group">
					<div class="form-row">
						<div class="col-md-6">
							<label for="exampleInputPassword1">Password</label>
							<input required value="{{password}}" name="password" class="form-control" id="exampleInputPassword1" type="password" placeholder="Password">
						</div>
						<div class="col-md-6">
							<label  for="exampleConfirmPassword">Confirm password</label>
							<input required value="{{passwordConfirm}}" name="passwordConfirm" class="form-control" id="exampleConfirmPassword" type="password" placeholder="Confirm password">
						</div>
					</div>
				</div>
				<div class="form-group">
					<label for="admin" class="form-check-inline btn btn-primary">
						<input onclick="admi(this)" class="bg-danger" {{selectRole role 'admin'}} type="radio" name="role" value="admin" id="admin"> Admin
					</label>
					<label for="participant" class="form-check-inline btn btn-primary">
						<input onclick="parti(this)" class="bg-danger" {{selectRole role 'participant'}} type="radio" name="role" value="participant" id="participant"> Participant
					</label>
				</div>
				<div class="form-group">
					<label hidden id="lcollege" for="college">College</label>
					<input hidden value="{{college}}" name="college" class="form-control" id="college" type="text" aria-describedby="college" placeholder="Enter College Name">
				</div>
				<div class="form-group">
					<label for="icontact">Contact No</label>
					<input required value="{{contact}}" name="contact" class="form-control" id="icontact" type="text" aria-describedby="contact" placeholder="Contact No">
				</div>
				<button type="submit" class="btn btn-primary btn-block">Register</button>
			</form>
			<div class="text-center">
				<a class="d-block small mt-3" href="/event/login">Login Page</a>
				<a class="d-block small" href="/event/forgot">Forgot Password?</a>
				<a class="d-block small" href="/">Home Page?</a>
			</div>
		</div>
	</div>
</div>


<script>
	function admi(fn) {
		document.getElementById("college").hidden = true;
		document.getElementById("lcollege").hidden = true;
	}
	function parti(fn) {
		document.getElementById("college").hidden = false;
		document.getElementById("lcollege").hidden = false;
	}
</script>